@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  .board-insert-form {
    font-family: 'TTLaundryGothicB';
    width: 1024px;
    margin: 50px auto;
}

.board-insert-form h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

hr { 
    margin-bottom: 50px; 
    border: 1px solid #ccc;
}

table {
    width: 100%; 
}

td {
    padding: 10px; 
    font-size: 16px;
}

.input-field, .textarea-field {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.textarea-field {
    resize: none;
}

.button-container {
    text-align: right; 
    margin-top: 20px; 
}

.submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.submit-button:hover {
    background-color: #45a049;
}

.heading-with-icon {
  display: flex;
  align-items: center; /* 아이콘과 텍스트를 수평으로 맞춤 */
  font-size: 28px;
}

.icon {
  margin-right: 10px; 
  font-size: 24px; 
  vertical-align: middle; 
}
